*.*
*
!*/
!Makefile
!*.mk
!*.[cSh]
!*.v
!*.sv
!*.cc
!*.cpp
!CMakeLists.txt
!.gitignore
!README.md
!ref/*
!verible.filelist
!Makefile_test
!tools/
!tools/profiler/
!tools/profiler/*.py
!tools/profiler/*.sh
!tools/profiler/*.md
!tools/profiler/tests/
!tools/profiler/tests/*.py
!scripts/
!scripts/*.sh
build/
build-cmake/
.history/
